* {
  margin: 0;
  padding: 0;
}

.signup-container {
  height: 680px;
  width: 100%;
  margin-bottom: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 1600px 692px;
  background-image: url(../../images/signuppic2.jpg);
}

.line {
  width: 400px;
  height: 1px;
  border: 0.05px solid rgb(218, 214, 214);
  margin-bottom: 14px;
}

.signup-form {
  background: #fff;
  max-width: 540px;
  height: 620px;
  width: 100%;
  z-index: 1;
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 80px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
}

.formname {
  display: flex;
  justify-content: space-between;
}

.last {
  margin-left: 60px;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup-form p {
  text-align: center;
  color: rgb(161, 158, 158);
}

.signup-btn button {
  width: 140px;
  height: 40px;
  border: none;
  background-color: rgb(117, 193, 228);
  position: relative;
}

.signup-btn {
  display: flex;
  justify-content: center;
}

.signup-form h1 {
  line-height: 1.8;
}

.signup-btn h2 {
  margin-top: 2px;
  font-weight: 400;
}

.signup-btn button:active {
  top: 1px;
}
