* {
  margin: 0;
  padding: 0;
}

.profile-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

/* #Avatar {
  width: 80px;
  height: 80px;
} */

.header,
.profile-pic,
.profile-name {
  margin-top: 10px;
}

.profile-name h2 {
  font-size: 24px;
  font-weight: 400;
}

.header {
  margin-left: -780px;
  margin-top: 10px;
}

.header h2 {
  font-size: 22px;
  font-weight: 400;
}

.profile-content {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.save-item {
  width: auto;
  height: auto;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.save2,
.save3 {
  margin-left: 12px;
}

.save-item img {
  width: 300px;
  height: 280px;
  border-radius: 10px;
}
