.Detail-container {
  width: 100%;
  height: 1400px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Detail-content {
  width: 1000px;
  height: 1300px;
  /* border: none;
  box-shadow: 0 1px 3px rgb(187, 187, 187);
  border-radius: 16px; */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px;
  /* margin-top: 60px; */
}

.Detail-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Detail-content h2 {
  margin-top: -10px;
  font-size: 30px;
  font-weight: 500;
  margin-left: 120px;
}

.pic {
  display: flex;
  justify-content: center;
  margin-left: 120px;
  margin-top: -10px;
  margin-top: -20px;
}
.pic-left {
  flex: 1;
}
.pic-left img {
  width: 450px;
  height: 400px;
  border-radius: 10px;
}
.pic-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.pic-right img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
}

.icon {
  width: 860px;
  height: 160px;
  margin-left: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  box-shadow: 0 1px 3px rgb(187, 187, 187);
  border-radius: 16px;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5 p {
  text-align: center;
}

.space {
  margin-left: 40px;
  margin-top: -20px;
}

.space h2 {
  margin-left: 10px;
}

.cut {
  margin-top: 20px;
}

.box-space1 {
  width: 220px;
  height: 120px;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 12px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-top: 12px;
  line-height: 1.6;
}

.box-space1 h3 {
  font-weight: 500;
}

.Detail-btn button {
  font-size: 1rem;
  text-align: center;
  background-color: #fff;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 12px;
  /* margin-bottom: -70px;
  margin-top: 20px; */
  background-color: white;
  box-shadow: 0 1px 3px rgb(187, 187, 187);
  outline: none;
  position: relative;
}

.Detail-btn button:hover {
  background-color: #ff9a10;
  color: white;
  cursor: pointer;
}

.Detail-btn button:active {
  top: 1px;
}

.Detail-btn {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
}

h1 {
  color: #4f3f84;
  display: flex;
  justify-content: center;
}

.mapp {
  display: inline-block;
  width: 400px;
  height: 200px;
  margin-left: 40px;
  line-height: 1.8;
  margin-top: -20px;
}

.mapp h3 {
  font-weight: 500;
}

.detail-box {
  display: flex;
}

.box-1 {
  flex: 1;
}

.box-2 {
  display: flex;
  width: 800px;
  height: 350px;
  border: none;
  border-radius: 20px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -160px;
  box-shadow: 0 1px 3px rgb(187, 187, 187);
  border-radius: 16px;
}

.date {
  display: flex;
  padding: auto;
}

.btn-tools {
  display: flex;
  justify-content: space-around;
}

.price {
  width: 50px;
  height: 18px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
