* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Navbar {
  background-color: #fff;
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  position: sticky;
  z-index: 1;
  box-shadow: 0 1px 3px rgb(221, 217, 217);
}

.Navbar .leftside {
  flex: 70%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Navbar .leftside .link {
  max-height: 80px;
}

.Navbar .leftside .link a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 30px;
}

.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 8px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

.Navbar .leftside .link a:hover {
  color: #0077ff;
}

.Navbar .leftside button {
  display: none;
  margin-left: 20px;
}

.Navbar .leftside #hidden {
  display: flex;
  z-index: 1;
}

.Navbar .rightside {
  flex: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 35px;
}

.rightside input {
  width: 420px;
  height: 36px;
  border: none;
  background: #f1f1f1;
  border-radius: 20px;
  font-size: 20px;
  padding-left: 15px;
  color: black;
}

.rightside button {
  height: 32px;
  width: 70px;
  font-size: 16px;
  border: none;
  margin-bottom: 4px;
  background-color: white;
}

@media only screen and (max-width: 850px) {
  .Navbar .leftside .link a {
    font-size: 16px;
  }
  .rightside input {
    width: 220px;
    height: 30px;
  }

  .rightside button {
    height: 32px;
    width: 70px;
  }
}

@media only screen and (max-width: 750px) {
  .Navbar .leftside .link a {
    font-size: 14px;
  }
  .rightside input {
    width: 220px;
    height: 30px;
  }

  .rightside button {
    height: 32px;
    width: 70px;
  }
}

@media only screen and (max-width: 650px) {
  .Navbar .leftside button {
    display: flex;
  }

  .Navbar .leftside .link {
    display: none;
  }

  .Navbar .leftside #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 230px;
    max-height: 230px;
    width: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  .Navbar .leftside #hidden a {
    margin: 10px;
    font-size: 20px;
  }
}
